# Copy to .env (git-ignored) and fill in. Never commit real values.
AWS_REGION=us-east-1
YELP_API_KEY=
SQS_QUEUE_URL=https://sqs.us-east-1.amazonaws.com/088850687383/dining-requests-q1
LEX_BOT_ID=R0153OSV9Z
LEX_BOT_ALIAS_ID=R4JQFJKHQG
LEX_LOCALE_ID=en_US
DDB_RESTAURANTS_TABLE=yelp-restaurants
DDB_STATE_TABLE=user-search-state
OPENSEARCH_ENDPOINT=
OPENSEARCH_USER=
OPENSEARCH_PASSWORD=
SES_SENDER_EMAIL=
